// Variables scss utilisées par les autres fichiers.

$main-dark: #262828; // Couleur foncée principale.
$main-dark-transparent: rgba(38, 40, 40, 0.95); // Couleur foncée principale.

$main-light: #fff; // Couleur pâle principale.
$main-light-transparent: rgba(255, 255, 255, 0.95); // Couleur pâle principale avec transparence.

$main-color: #6E1400; // Couleur principale du thème.
$main-color-transparent: rgba(110, 20, 0, 0.95); // Couleur principale du thème avec transparence.

$infobar-accent-color: #c7c7c7; // Couleur des bordures dans la barre d'info.

$progress-bar-fill : #33b946; // Remplissage de la barre de progrès.
